.home {
  height: fit-content;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#000000b2, #000000b2),
    url("../assets/images/image-03.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home .logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home .logo__container img.home__logo {
  width: 100%;
  min-width: 120px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.home .home__btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.home .home__btns .add__patient,
.home .home__btns .home__login {
  background: transparent;
  font-size: 1rem;
  padding: 9px 27px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.home .home__btns .add__patient {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #e7fff4;
  color: #e7fff4;
}
.home .home__btns .home__login {
  border: 2px solid #fff;
  color: #fff;
}
.home .home__btns .add__patient:hover {
  color: #0f4fff;
  border: 2px solid #0f4fff;
  transition: all 0.3s ease-in-out;
}
.home .home__btns .home__login:hover {
  background: #fffefe;
  color: #0f4fff;
  border: 2px solid #eaeaea;
  transition: all 0.3s ease-in-out;
}
.home .home__btns .add__patient svg {
  fill: #e7fff4;
  width: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.home .home__btns .add__patient:hover svg {
  fill: #0f4fff;
}
.home__content__container {
  margin: 7rem 0 !important;
}
.home__content__container .home__content .home__title {
  font-size: 2.5rem;
}
.home__content__container .home__content .home__text {
  font-size: 1.25rem;
}
.home__search {
  width: 100%;
}
.home__search__input {
  width: 50%;
  border: none;
  border-radius: 6px 0 0 6px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  outline: none;
  color: #4a4a4a;
  font-weight: 600;
}
.search__btn {
  border: none;
  outline: none;
  border-radius: 0 6px 6px 0;
  padding: 0.75rem 1.5rem;
  background: #0f4fff;
  color: #f4f4f4;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.search__btn.home__search__btn {
  border-radius: 6px;
  padding: 0.5rem 5rem;
  transition: all 0.3s ease-in-out;
}
.search__btn.home__search__btn:hover {
  background: #fff;
  color: #0f4fff;
}
.search__btn svg {
  width: 1.2rem;
}
@media only screen and (max-width: 992px) {
  .home__content__container .home__content .home__title {
    font-size: 2rem;
  }
  .home__content__container .home__content .home__text {
    font-size: 1rem;
  }
  .home__search__input {
    width: 75%;
    font-size: 0.9rem;
  }
  .search__btn,
  .search__btn.home__search__btn {
    font-size: 0.9rem;
  }
  .search__btn.home__search__btn {
    padding: 0.5rem 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .home__content__container .home__content .home__title {
    font-size: 1.75rem;
  }
  .home__content__container .home__content .home__text {
    font-size: 0.8rem;
  }
  .home .home__btns {
    gap: 0.75rem;
  }
  .home__search__input {
    width: 80%;
    font-size: 0.8rem;
  }
  .search__btn,
  .search__btn.home__search__btn {
    font-size: 0.8rem;
  }
  .search__btn {
    padding: 0.75rem 1.25rem;
  }
  .search__btn.home__search__btn {
    padding: 0.5rem 3rem;
  }
  .search__btn svg {
    width: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .home .home__btns .add__patient,
  .home .home__btns .home__login {
    padding: 5px 9px;
    font-size: 0.8rem;
  }
  .home .home__btns .add__patient svg {
    width: 1.25rem;
  }
  .home .home__btns .add__patient {
    gap: 0.25rem;
  }
  .home .home__container {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .home .home__btns {
    gap: 0.5rem;
  }
  .home__content__container .home__content .home__title {
    font-size: 1.5rem;
  }
  .home__content__container .home__content .home__text {
    font-size: 0.75rem;
  }
  .search__btn {
    padding: 0.75rem 1rem;
  }
  .search__btn.home__search__btn {
    padding: 0.5rem 2rem;
  }
}
